if SHIELD_CORNECHON_CENTRAL_DONGLE || SHIELD_CORNECHON_CENTRAL_LEFT

config ZMK_KEYBOARD_NAME
    default "Cornechon"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_CORNECHON_CENTRAL_DONGLE || SHIELD_CORNECHON_CENTRAL_LEFT || SHIELD_CORNECHON_PERIPHERAL_LEFT || SHIELD_CORNECHON_PERIPHERAL_RIGHT

config ZMK_SPLIT
    default y

endif